<article role="tabpanel" id="login">
    <form method="post" target="{{ page.formurl }}">
    {{ page.content }}
    <fieldset>
        <legend>Sign in</legend>
        <div class="group" style="width: 200px">
            <label for="text30">Username</label>
            <input id="text30" type="text" />
        </div>
        <div class="group" style="width: 200px">
            <label for="text31">Password</label>
            <input id="text31" type="text" />
        </div>
    </fieldset>
    <section style="display: flex; gap: 6px; align-items: center">
        <button>Login</button>
        <label> </label>
    </section>
    </form>
</article>